<div
  class="mainframe-screen h-full flex flex-col font-mono text-[14px] leading-[1.2]"
>
  <!-- Line 1: System ID and Date/Time -->
  <div class="flex justify-between mb-0">
    <span class="text-white">{{ screen?.header?.systemId }}</span>
    <span class="text-white">{{ screen?.header?.date }}</span>
  </div>

  <!-- Line 2: Transaction ID, Title, Time -->
  <div class="flex justify-between mb-0">
    <span class="text-white">{{ screen?.header?.transactionId }}</span>
    <span class="text-center flex-1 text-white">M B E S</span>
    <span class="text-crt-cyan">{{ screen?.header?.time }}</span>
  </div>

  <!-- Line 3: Screen Title and Page Info -->
  <div class="flex justify-between mb-4">
    <span class="text-center flex-1 text-white"
      >SERVICE OF PROCESS - INQUIRY SEARCH</span
    >
  </div>
  <div class="flex justify-end mb-1 mr-12">
    <span class="text-white"
      >Page#: <span class="border-b border-text-white">&nbsp;&nbsp;</span
      >{{ pageNumber }} of
      <span class="border-b border-text-white">&nbsp;&nbsp;</span
      >{{ totalPages }}</span
    >
  </div>
  <!-- Search Results Header Row -->
  <div class="flex justify-between mb-1 ml-12">
    <span class="text-white mr-3">Filing Number</span>
    <span class="text-white mr-8">Case Number</span>
    <span class="text-white min-w-[28ch] ml-auto">Initial Received Date</span>
  </div>

  <!-- Search Results Data Row -->
  <div class="flex mb-1 ml-12">
    <span class="text-crt-cyan mr-1" style="width: 15ch">U0053575</span>
    <span class="text-crt-cyan mr-8" style="width: 8ch">1-AD1-2</span>
    <span class="text-crt-cyan min-w-[19ch] ml-auto">10-16-2025</span>
  </div>

  <!-- Defendant Name -->
  <div class="mb-1 ml-12">
    <span class="text-crt-cyan">TEST DEFENDANT ADI</span>
  </div>

  <!-- Spacer to push footer to bottom -->
  <div class="flex-grow"></div>

  <!-- Footer with PF Keys -->
  <div class="pt-2 absolute bottom-0 left-5 right-5 pb-2 mt-4">
    <span class="text-white">PF: </span>
    <span
      *ngFor="let pfKey of screen?.footer?.pfKeys; let last = last"
      class="text-white cursor-pointer hover:[text-shadow:0_0_4px_#FFFFFF]"
    >
      {{ pfKey.label }}<span *ngIf="!last">&nbsp;&nbsp;</span>
    </span>
  </div>
</div>
